body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calculator {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.calculator-screen {
    width: 100%;
    height: 80px;
    border: none;
    background-color: #252525;
    color: #fff;
    text-align: right;
    padding: 0 10px;
    font-size: 2.5rem;
}

.calculator-keys button {
    height: 60px;
    width: 25%;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
}

.calculator-keys button.operator {
    background-color: #ff9500;
    color: #fff;
}

.calculator-keys button.all-clear {
    background-color: #ff3b30;
    color: #fff;
    width: 50%;
}

.calculator-keys button.equal-sign {
    background-color: #4cd964;
    color: #fff;
    height: calc(120px + 1px);
}
